<div id="blogs">
  <h3><%= blog.title%></h3>
  <h6><%= blog.created_at %></h6>
  <p><%= blog.body%></p>
  <%= link_to blog.comments.count.to_s + " Comments", blog_comment_path(blog.id, @comment) %>
    <% if user_admin %>
      | <%= link_to 'Edit', edit_blog_path(blog) %> |
      <%= link_to "Delete", blog_path(blog), :method => "delete" %>
    <% end %>
    <span>| <%= link_to "Add Comment", new_blog_comment_path(blog.id), remote: true %></span>
  <% @blogs.each do |blog| %>
    <% blog.comments.each do |comment| %>
      <% render comment %>
    <% end %>
  <% end %>
</div>
