<% content_for(:navbar) do %>
  <li><%= link_to "Add blog", new_blog_path(@blog) %></li>
<% end %>

<h1>Blog Page</h1>


<% @blogs.each do |blog| %>
<h3><%= blog.title%></h3>
<h6><%= blog.created_at%></h6>
<p><%= blog.body%></p>
<%= link_to blog.comments.count.to_s + " Comments", blog_path(blog.id)%>
<% end %>
