<% content_for(:title, "Skill | Projects") %>

<h1><%= @skill.name %></h1>

<span><%= link_to "Edit Skill", edit_skill_path(@skill) %></span>
<span><%= link_to "Delete Skill", skill_path(@skill), :data => {:confirm => "you sure you want to delete this skill?", :method => "delete"} %></span>

<% if @skill.projects.any? %>
  <h4>Here are the projects for this skill:</h4>

  <ul>
    <% @skill.projects.each do |project| %>
      <h4> <%= project.name %> </h4>
      <li> <%= link_to project.link, project.link %> </li>
      <li> <%= project.description %>
      <span><%= link_to "Edit", edit_skill_project_path(@skill, project) %> | <%= link_to "Delete", skill_project_path(@skill, project), :data => {:confirm => "Are you sure?", :method => "delete"} %> </span>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects yet!</p>
<% end %>

<p><%= link_to "Add a project", new_skill_project_path(@skill) %></p>

<p><%= link_to "Return to homepage", skills_path %></p>
