<% content_for(:title) do %>
  <%= @skill.name %> Projects
<% end %>

<% content_for(:navbar) do %>
  <li><%= link_to "Add project", new_skill_project_path(@skill) %></li>
  <li><%= link_to "Edit", edit_skill_path(@skill) %></li>
  <li><%= link_to "Delete", skill_path(@skill), :method => "delete" %></li>

<% end %>

<h1><%= @skill.name %></h1>

<% if @skill.projects.any? %>
  <h4>Here are the projects for this skill:</h4>

  <ul>
    <% @skill.projects.each do |project| %>
      <h4> <%= link_to  project.name, skill_project_path(@skill, project) %> </h4>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects yet!</p>
<% end %>

<p><%= link_to "Return to homepage", skills_path %></p>
