<div id="my_reference_<%= my_reference.id %>">
  <h3><%= my_reference.name%></h3>
  <li><%= my_reference.title%></li>
  <li><%= my_reference.phone%></li>
  <li><%= my_reference.address%></li>
  <li><%= my_reference.relationship%></li>
</div>
